# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# generated bundle.js
/client/bundle.js

*.mp4
*.mp3
*.bin